@model IEnumerable<PMS10.Models.Payroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Payrolls</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Payroll_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Payroll_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Payroll_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
